@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body{
    background-color: rgb(230, 230, 230);
}

#logo{
    position: absolute;
    top: 6%;
    /* left: 9%;    */
    margin-left: 60%;
}

h1,h2{
    font-family: 'Montserrat';
    color: black;
}

p{
    margin: 2%;
}

.sub-contenido-1{
    margin-left: 20%;
    color: rgb(255, 0, 0);
    margin-top: 5%;
    font-size: 23px;
}

.contenido-2{
    height: 100%;
    /* background-color:white; */
    /* width: 100%; */
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    color: black;
    margin-top: 5%;
    text-align: justify;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 1%;
}

.contenido-3{
    height: auto;
    /* background-color:white; */
    width: 80%;
    margin-left: 10%;
    /* margin-right: 59%; */
    border-radius: 10px;
    color: black;
    text-align: justify;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);   
}

a{
    text-decoration: none;
    color: black;
}

.open{
    position: absolute;
    right: 13%;
}

.regresar{
    color: aliceblue;
}