:root{
    --blanco: #fff;
    --negro: #000;
    --primario: rgb(51, 10, 3);
    --secundario: #2196F3;
}

/* GLOBALES */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*{
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 2.8rem;
}

h2{
    font-size: 2.2rem;
}

h3{
    font-size: 1.8rem;
    color: var(--primario);
}

/* CABECERA */

.cabecera{
    position: relative;
    width: 100%;
    height: 60vh;
}

.cabecera__imagen{
    width: 100%;
    height: 60vh;
}

.cabecera__hero{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cabecera__titulo{
    color: var(--blanco);
    font-weight: 600;
}

/* CONTENIDO */
.contenedor{
    max-width: 110rem;
    margin: 5rem auto;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.75);
    border-radius: 1rem;
    padding: 3rem;
    text-align: justify;
}

.acercade_subtitulo{
    background-color: var(--secundario);
    color: var(--blanco);
    display: inline;
    padding: 1rem 3rem 1rem 1rem;
    font-weight: 500;
    border-radius: 10px 40px 40px 10px;
}

/* REFERENCIAS */
.ref{
    height: auto;
    background-color: white;
    width: 50%;
    margin-left: 30%;
    border-radius: 10px;
    color: black;
    text-align: justify;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.ref a{
    text-decoration: none;
}
.ref i{
    position: absolute;
    right: 17%;
    color: #000;
    margin-top: .5%;
}

.ref .referencia1, .referencia2, .referencia3{
    position: relative;
    color: #5b3c3c;
    left: 7%;
}

.ref a:hover{
    background-color: var(--secundario); /* Cambia el color de fondo al color secundario */
    color: #2196F3; /* Cambia el color del texto a blanco */
}

.ref a:hover .fa-solid {
    color: #2196F3; /* Cambia el color del icono a blanco */
}