@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* FIN IMPORTACIONES */


/* Cuerpo de diseño */
*{
    font-family: 'Poppins';
}

#productos{
    position: absolute;
    left: 0%;
    top: 0%;
    width: 99.8%;
    height: 99vh;
}


#navegacion-productos, #principal-productos{
    position: absolute;
}

#navegacion-productos{
    width: 13%;
    height: 98.7vh;
    top: 0%;
    background-color: rgb(63, 141, 175);
    color: white;
}


#principal-productos{
    width: 86.5%;
    height: 98.5vh;
    top: 0%;
    left: 13.3%;
    background-color: white;
}

#opciones-productos li{
    transition: background-color .5s ease;
    line-height: 300%;
    list-style-type: none;
    cursor: default;
    width: 80%;
    margin-top: 7%;
    user-select: none;
    border-radius: 50px;
    padding-left: 8%;
    padding-bottom: 8%;
    height: 5vh;
}

#opciones-productos li:hover{
    background-color: rgb(225, 225, 225);
}

#opciones-productos li img{
    width: 15%;
}

#navegacion-productos h4{
    font-weight: normal;
    font-size: 120%;
    margin-left: 6%;
    user-select: none;

}


/* Diseño de la tabla */
#mostrarProductos h1{
    text-align: center;
    margin-top: 3%;
}

#mostrarProductos #nuevoProducto{
    position: absolute;
    top: 18%;
    left: 85%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    background: rgb(143, 0, 0);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#mostrarProductos table{
    width: 95%;
    margin-left: 2%;
    margin-top: 7%;

}

#mostrarProductos table, th, td{
    border-collapse: collapse;
    border: none ;
}

#mostrarProductos th{
    border-bottom: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    font-weight: 600;
}

#mostrarProductos td{
    padding-top: .2%;
    padding-bottom: .2%;
}

/* Diseño de columna */
#mostrarProductos h1{
    text-align: center;
    margin-top: 3%;
}

#mostrarProductos #nuevoProducto{
    position: absolute;
    top: 18%;
    left: 85%;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: .5%;
    padding-bottom: .5%;
    background: rgb(143, 0, 0);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

#mostrarProductos table{
    width: 95%;
    margin-left: 2%;
    margin-top: 7%;
}

#mostrarProductos table, th, td{
    border-collapse: collapse;
    border: none ;
}

#mostrarProductos th{
    border-bottom: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: left;
    font-weight: 600;
}

#mostrarProductos td{
    padding-top: .2%;
    padding-bottom: .2%;
}

#mostrarProductos #cabezaNombre{
    width: 10%;
}

#mostrarProductos #cabezaDescripcion{
    width: 15%;
}

#mostrarProductos #cabezaPrecio{
    text-align: center;
    width: 6%;
}

#mostrarProductos #cabezaImagen{
    width: 17%;
}

#mostrarProductos #cabezaCategoria{
    width: 5%;
}

#mostrarProductos #cabezaAcciones{
    text-align: center;
    width: 12%;
}


#tablaProductos input[type=text]{
    margin: 0;
    width: 95%;
    outline: none;
    border: none;
    background: none;
}

#mostrarProductos #campoPrecio{
    width: 85%;
    text-align: center;
}

#mostrarProductos .fila1{
    background: rgb(251, 200, 200);
}

#mostrarProductos #iconoEliminar,
#mostrarProductos #iconoEditar,
#mostrarProductos #iconoVer {
    position: relative;
    margin-top: 1%;
    width: 12.5%;
    border-radius: 5px;
    padding: 1.5%;
    cursor: pointer;
    user-select: none;
}

#mostrarProductos .iconoEliminar {
    position: relative;
    width: 5.5vh;
    height: 4.5vh;
    margin-top: .10vh;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background: rgb(255, 55, 0);
}

#mostrarProductos .iconoEditar {
    position: relative;
    width: 5.5vh;
    height: 4.5vh;
    margin-top: .10vh;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background: rgb(255, 251, 0);
}

#mostrarProductos .iconoVer {
    position: relative;
    width: 5.5vh;
    height: 4.5vh;
    margin-top: .10vh;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    background: green;
}

#mostrarProductos .acciones-buttons {
    display: flex;
    justify-content: space-evenly;
}
/* Fin de Estilo Andres */

/* Ventana de Agregar */
@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    .contenidoVentanaEmergente {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para pantallas aún más pequeñas */
    .ventanaEmergente {
        width: 95%;
    }
}

.contenidoVentanaEmergente p{
    margin-left: 8vh;
    margin-top: 5vh;
}

.ventanaEmergente {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.164);
    display: flex;
    opacity: 1;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    opacity: 0;
    transition: opacity .9s .9s;
    z-index: 9999;
}

.enseñar_modal {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.contenidoVentanaEmergente h2{
    font-weight: normal;
    font-size: 130%;
    font-weight: 500;
    margin: 0;
    background: rgb(19, 123, 207);
    border-radius: 10px;
    color: white;
    padding: 1%;
    padding-left: 3%;
    text-align: center;
}

.contenidoVentanaEmergente {
    display: inline;
    width: 150vh;
    height: 70vh;
    margin: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid;
    box-sizing: border-box;
    transform: var(--transform);
    transition: var(--transition);
}

.contenidoVentanaEmergente #nombre{
    position: absolute;
    width: 35%;
    margin-top: -2vh;
    padding-top: .6%;
    margin-left: 7.5vh;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid;
}

.contenidoVentanaEmergente #Agregar1{
    margin-left: 5vh;
    margin-top: 5vh;
    width: 30vh;
    padding: 1vh;
    user-select: none;
    box-shadow: 2px 4px 10px rgba(157, 157, 157, 0.35);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    font-size: 95%;
    background: rgb(83, 127, 177);
    color: white;
    transition: transform .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contenidoVentanaEmergente #Agregar1:hover {
    transform: scale(0.9);
}

.contenidoVentanaEmergente .ventanacerrar{
    margin-left: 5vh;
    margin-top: -1vh;
    width: 20vh;
    padding: 1vh;
    user-select: none;
    box-shadow: 2px 4px 10px rgba(157, 157, 157, 0.35);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    font-size: 95%;
    background: rgb(83, 127, 177);
    color: white;
    transition: transform .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contenidoVentanaEmergente .ventanacerrar:hover {
    transform: scale(0.9);
}

.contenidoVentanaEmergente #contenedor-imagen #nombreArchivo{
    position: absolute;
    width: 50%;
    height: auto;
    font-size: 70%;
    margin-left: -10%;
    margin-top: 30vh;
    background: none;
    outline: none;
    border: none;
    color: #000;
}

#contenedor-imagen input[type="file"]{
    display: none;
}

#contenedor-imagen #imagen{
    text-transform: capitalize;
    color: white;
    margin-top: 35vh;
    background: rgb(255, 58, 58);
    text-align: center;
    padding: 10px 40px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    font-size: 85%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    position: fixed;
    width: 50vh;
}

#contenedor-imagen #imagen i{
    font-size: 100%;
}

#contenedor-imagen{
    display: flex;
    position: absolute;
    left: 51.5%;
    top: 13.5vh;
    flex-direction: column;
    background-color: white;
    width: 60vh;
    height: 30vh;
    padding: 3% 4%;
    border-radius: 20px;
    box-shadow: 10px 8px 30px rgb(12, 12, 12);
    user-select: none;
    border: 1px solid;
}

#contenedor-imagen img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    border-radius: 20px;
    left: 0;
    top: 0;
}


/* Ventana de Editar */
@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    .contenidoVentanaEditarProducto {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para pantallas aún más pequeñas */
    .ventanaEditarProducto {
        width: 95%;
    }
}

.contenidoVentanaEditarProducto p{
    margin-left: 8vh;
    margin-top: 5vh;
}

.ventanaEditarProducto {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.164);
    display: flex;
    opacity: 1;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    opacity: 0;
    transition: opacity .9s .9s;
    z-index: 9999;
}

.enseñar_Editar{
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.contenidoVentanaEditarProducto h2{
    font-weight: normal;
    font-size: 130%;
    font-weight: 500;
    margin: 0;
    background: rgb(19, 123, 207);
    border-radius: 10px;
    color: white;
    padding: 1%;
    padding-left: 3%;
    text-align: center;
}

.contenidoVentanaEditarProducto {
    display: inline;
    width: 130vh;
    height: 85vh;
    margin: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid;
    box-sizing: border-box;
    transform: var(--transform);
    transition: var(--transition);
}

.contenidoVentanaEditarProducto #categoria1 {
    position: absolute;
    width: 30%;
    margin-top: -.5vh;
    padding-top: .6%;
    margin-left: 1vh;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 1px solid;
}

.contenidoVentanaEditarProducto #Guardar {
    margin-left: 5vh;
    margin-top: 40vh;
    width: 30vh;
    padding: 1vh;
    user-select: none;
    box-shadow: 2px 4px 10px rgba(157, 157, 157, 0.35);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    font-size: 95%;
    background: rgb(83, 127, 177);
    color: white;
    transition: transform .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contenidoVentanaEditarProducto #Guardar:hover {
    transform: scale(0.9);
}

.contenidoVentanaEditarProducto .ventanacerrarEditar{
    margin-left: 5vh;
    margin-top: 40vh;
    width: 20vh;
    padding: 1vh;
    user-select: none;
    box-shadow: 2px 4px 10px rgba(157, 157, 157, 0.35);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    font-size: 95%;
    background: rgb(83, 127, 177);
    color: white;
    transition: transform .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contenidoVentanaEditarProducto .ventanacerrarEditar:hover {
    transform: scale(0.9);
}

#contenedor-imagen1 #imagen_mos{
    position: absolute;
    width: 100%;
    height: 7.5%;
    margin-left: -30%;
    margin-top: -15%;
    color: #000;
}

#contenedor-imagen1 #nombreArchivoEditar{
    position: absolute;
    width: 100%;
    height: 5vh;
    font-size: 70%;
    margin-left: -10%;
    margin-top: 35vh;
    background: none;
    outline: none;
    color: #000;
    border: none;
}

#contenedor-imagen1 input[type="file"]{
    display: none;
}

#contenedor-imagen1 #foto{
    text-transform: capitalize;
    color: white;
    margin-top: 50vh;
    background: rgb(255, 58, 58);
    text-align: center;
    padding: 10px 40px;
    letter-spacing: 1.5px;
    user-select: none;
    cursor: pointer;
    font-size: 85%;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    position: fixed;
    width: 50vh;
}

#contenedor-imagen1 #foto i{
    font-size: 100%;
}

#contenedor-imagen1{
    display: flex;
    position: absolute;
    left: 51.5%;
    top: 20vh;
    flex-direction: column;
    background-color: white;
    width: 30vh;
    height: 30vh;
    padding: 3% 4%;
    border-radius: 20px;
    box-shadow: 10px 8px 30px rgb(12, 12, 12);
    user-select: none;
    border: 1px solid;
}

#contenedor-imagen1 img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    border-radius: 20px;
    left: 0;
    top: 0;
}

/* Ventana de Mostrar */
@media screen and (max-width: 768px) {
    /* Estilos para pantallas más pequeñas */
    .contenidoVentanaVisualizarProducto {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    /* Estilos para pantallas aún más pequeñas */
    .ventanaVisualizarProducto {
        width: 95%;
    }
}

.contenidoVentanaVisualizarProducto p{
    margin-left: 8vh;
    margin-top: 5vh;
}

.ventanaVisualizarProducto {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.164);
    display: flex;
    opacity: 1;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    opacity: 0;
    transition: opacity .9s .9s;
    z-index: 9999; /* Asegura que la ventana esté por encima de otros elementos */
}

.enseñar_Ver {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

.contenidoVentanaVisualizarProducto h2{
    font-weight: normal;
    font-size: 130%;
    font-weight: 500;
    margin: 0;
    background: rgb(19, 123, 207);
    border-radius: 10px;
    color: white;
    padding: 1%;
    padding-left: 3%;
    text-align: center;
}

.contenidoVentanaVisualizarProducto {
    display: inline;
    width: 100vh;
    height: 75vh;
    margin: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid;
    box-sizing: border-box;
    transform: var(--transform);
    transition: var(--transition);
}

.contenidoVentanaVisualizarProducto #nombreProducto{
    position: absolute;
    width: 35%;
    margin-top: 2vh;
    padding-top: .6%;
    margin-left: 5vh;
    border-radius: 5px;
    outline: none;
    border: none;
}

#contenedor-imagen3{
    display: flex;
    position: absolute;
    right: 10vh;
    top: 20vh;
    flex-direction: column;
    background-color: white;
    width: 30vh;
    height: 30vh;
    padding: 3% 4%;
    border-radius: 20px;
    box-shadow: 10px 8px 30px rgb(12, 12, 12);
    user-select: none;
    border: 1px solid;
}

#contenedor-imagen3 img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    border-radius: 20px;
    left: 0;
    top: 0;
}

.contenidoVentanaVisualizarProducto .vetanacerrarvista{
    position: fixed;
    margin-top: 55vh;
    width: 20vh;
    margin-left: 40vh;
    padding: 1vh;
    user-select: none;
    box-shadow: 2px 4px 10px rgba(157, 157, 157, 0.35);
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    font-size: 95%;
    background: rgb(83, 127, 177);
    color: white;
    transition: transform .4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.contenidoVentanaVisualizarProducto .vetanacerrarvista:hover {
    transform: scale(0.9);
}


/* Estilos para ocultar la ventana modal por defecto */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    right: 33%;
    top: 10%;
    width: 40%;
    height: 100%;
}

/* Estilos para el contenido de la ventana modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Estilos para el botón de cerrar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.agregarM{
    position: absolute;
    top: 20%;
    left: 80%;
}


/* Ventana de Eliminar */
/* Estilo para el contenedor modal */
.contenedor-modal {
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.164);
    display: flex;
    opacity: 1;
    --transform: translateY(-100vh);
    --transition: transform .8s;
    opacity: 0;
    transition: opacity .9s .9s;
    z-index: 9999;
}

/* Mostrar el modal */
.mostrar-modal {
    display: flex; /* Cambia a "display: flex" cuando se muestra */
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
    --transition: transform .8s .8s;
}

/* Estilo para la ventana emergente de confirmación */
.contenedor-eliminar {
    display: inline;
    width: 50vh;
    height: 25vh;
    margin: auto;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    border: 1px solid;
    box-sizing: border-box;
    transform: var(--transform);
    transition: var(--transition);
}

/* Estilos para los botones dentro de la ventana emergente */
.contenedor-eliminar button {
    margin: 0 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Estilos para el botón de confirmar */
.contenedor-eliminar .confirmarBtn {
    background-color: #32CD32;
    color: white;
}

/* Estilos para el botón de cancelar */
.contenedor-eliminar .cancelarBtn {
    background-color: #ff6347;
    color: white;
}

/* Cambia el color de fondo al pasar el ratón por encima */
.contenedor-eliminar button:hover {
    transform: scale(0.9);
}