:root{
    --blanco: #fff;
    --negro: #000;
    --gris: rgb(248, 248, 248);
    --secundario: rgb(52, 152, 219);
    --secundarioOscuro: rgb(39, 123, 179);
    --tercero: rgb(146, 43, 33); 
    --fuentePrincipal: 'Poppins', sans-serif;
}   

/* GLOBALES */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: var(--gris);
}

h1{
    font-size: 2.7rem;
    text-align: center;
    margin-bottom: 5rem;
}

h2{
    font-size: 1.7rem;
    color: var(--secundario);
    font-weight: 600;
    margin: 0;
    margin-bottom: 2rem;
}

h3{
    font-size: 1.8rem;
    font-weight: 600;
}

/* MAIN */
.formulario{
    width: 47%;
    margin: auto;
    box-shadow: 0px 4px 9px -2px rgba(0,0,0,0.75);
    padding: 3.5rem 2rem;
    margin-bottom: 10rem;
    background-color: var(--blanco);
    border-radius: .5rem;
}

.fieldset{
    border: none;
}

.formulario *{
    display: block;
}

.campo{
    margin-bottom: 1.5rem;
}

label{
    font-weight: 500;
    margin-bottom: .4rem;
    font-size: 90%;
}

input, textarea{
    border-radius: .6rem;
    border: 1px solid black;
    width: 100%;
    padding: .5rem 1rem;
    font-family: var(--fuentePrincipal);
    font-size: 95%;
    font-weight: 500;
    outline: 1px;
}

textarea{
    resize: none;
    height: 15rem;
}

input:focus, textarea:focus{
    border: 3px solid var(--tercero);
}

select{
    font-family: var(--fuentePrincipal);
    font-size: 90%;
    user-select: none;
    outline: none;
}

#categoria{
    border-radius: 50px;
    border: 2px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 9%;
    cursor: pointer;
    color: black;
}

input[type=submit]{
    margin-top: 4rem;
    border: none;
    background-color: var(--secundario);
    color: var(--blanco);
    cursor: pointer;
    transition: all .3s;
    padding: .7rem 0;
}

input[type=submit]:hover{
    background-color: var(--secundarioOscuro);
}