@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body{
    margin: 0;
    padding: 0;
    /*background: rgb(222, 222, 233);*/
}

.contenedor_menu{
    position: fixed;
    width: 15%;
    top: 0;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    padding: 0 1%;
    font-family: 'Poppins';
    background: white;
    box-shadow: 0 1px 5px 1px rgb(199, 194, 194);
    border: 1px solid #000;
}

.menu_lateral input[type=checkbox]{
    display: none;
}

.menu_lateral .ultima_opcion{
    margin-bottom: 2.5%;
}

.menu_lateral h1{
    font-weight: 600;
    font-size: 120%;
    border: 3px solid ;
    border-radius: 8px;
    padding: 3% 0;
    text-align: center;
    color: rgb(146, 120, 6);
    user-select: none;
}

.menu_lateral .linea{
    border-bottom: 1px solid rgb(189, 175, 175);
    margin-bottom: 5%;
}

.menu_lateral ul{
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height .8s ease;
    margin: .5% 0;
}

.menu_lateral li{
    margin-bottom: .5%;
    cursor: pointer;
    user-select: none;
    font-size: 87%;
    font-weight: 300;
    box-sizing: border-box;
    padding: 1.5% 0;
    list-style-type: none;
    transition: color .3s;
    color: #000;
}
.menu_lateral li a{
    color: #000;
    text-decoration: none;
}

.menu_lateral li:hover{
    color: blue;
}

.menu_lateral label:hover{
    background: rgb(224, 220, 220);
}

.menu_lateral label:hover > i:nth-child(2){
    opacity: 1;   
}

.menu_lateral i:nth-child(2){
    opacity: 0;
    transition: transform .3s ease, opacity .1s;
}

.menu_lateral input[type=checkbox]:checked + label > i:nth-child(2){
    opacity: 1;
    transform: rotate(180deg);
}

.menu_lateral label{
    cursor: default;
    user-select: none;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    font-size: 95%;
    box-sizing: border-box;
    padding: 2% 5%;
    font-weight: 300;
    margin: 0;
    margin-bottom: 1.5%;
    transition: all .4s ease;
}

.menu_lateral input[type=checkbox]:checked + label + ul {
    max-height: 22vh;
}

.menu_lateral input[type=checkbox]:checked + label{
    background: rgba(255, 75, 75, 0.945);
    color: white;
}

.menu_lateral i{
    margin-right: 5%;
}